---
import GitHub from "../icons/GitHub.astro";
import Tailwind from "../icons/Tailwind.astro";
import Next from "../icons/Nextjs.astro";
import Angular from "../icons/Angular.astro";
import Php from "../icons/Php.astro";
import Typescript from "../icons/Typescript.astro";
import Mysql from "../icons/Mysql.astro";
import Mariadb from "../icons/Mariadb.astro";
import Spring from "../icons/Spring.astro";




const TAGS = {
  TAILWIND: {
    name: "TailwindCSS",
    color: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NEXT: {
    name: "Next.js",
    color: "bg-[#2E2E2E] text-white",
    icon: Next,
  },
  ANGULAR: {
    name: "Angular",
    color: "bg-[#0F172A] text-white",
    icon: Angular,
  },
  PHP: {
    name: "PHP",
    color: "bg-[#4F5B93] text-white",
    icon: Php,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    color: "bg-[#1F3A8A] text-white",
    icon: Typescript,
  },
  MYSQL: {
    name: "MySQL",
    color: "bg-[#4479A1] text-white",
    icon: Mysql,
  },
  MARIADB: {
    name: "MariaDB",
    color: "bg-[#E6D5B8] text-white",
    icon: Mariadb,
  },
  SPRING: {
    name: "Spring",
    color: "bg-[#14532D] text-white",
    icon: Spring,
  }
  
};

const base = import.meta.env.BASE_URL.endsWith("/")
  ? import.meta.env.BASE_URL
  : `${import.meta.env.BASE_URL}/`;
const PROJECTS = [
  {
     id: "trasterush",
    title: "Aplicación contratación de trasteros",
    description: "Creación de una aplicación web para la gestión y contratación de trasteros. La plataforma permite a los usuarios consultar disponibilidad, iniciar el proceso de contratación, registrarse, realizar pagos mediante una pasarela segura y formalizar la firma digital del contrato. Tras la validación del proceso, el sistema genera automáticamente un código único de acceso y lo envía por correo electrónico al usuario, actuando como llave digital del trastero durante el periodo contratado. La arquitectura de la aplicación combinó un frontend desarrollado en Angular, un backend en Spring Boot y una base de datos MariaDB. Además, se integró un microcontrolador ESP32 encargado de validar el estado del pago mediante peticiones HTTP y enviar la señal necesaria para accionar la cerradura electrónica y permitir el acceso físico al trastero. La plataforma también incluye un panel de administración para usuarios con rol administrador, desde el cual se pueden gestionar usuarios y trasteros mediante operaciones CRUD completas. Entre las funcionalidades implementadas se encontraba la posibilidad de cambiar el estado de los trasteros, marcarlos como disponibles, ocupados o en mantenimiento, además de supervisar la gestión general de la plataforma. También se desarrolló un boceto funcional de la interfaz principal de inicio de sesión como parte del diseño inicial de la experiencia de usuario.",
    link: "https://github.com/rafaa1710/proyecto-uno",
    gitHub: "https://github.com/rafaa1710/proyecto-uno",
    images: [], 
    video:`${base}result.mp4`,
    tags: [TAGS.ANGULAR,   TAGS.TYPESCRIPT, TAGS.MARIADB, TAGS.SPRING, ],
    
  },

  {
    title: "Desarrollo ERP Y CRM",
    description: "Proyecto basado en un sistema ERP–CRM modular en el que he desarrollado e integrado diferentes funcionalidades a lo largo del tiempo. La plataforma está formada por numerosos módulos interconectados que gestionan entidades como alumnos, módulos formativos, usuarios y procesos administrativos. Estos módulos comparten información entre sí, garantizando consistencia de datos y una gestión unificada dentro del sistema. El desarrollo se ha realizado con Angular para la capa de presentación, PHP para la lógica de negocio y MySQL como base de datos relacional, con un modelo de datos complejo y altamente relacionado que asegura integridad referencial y coherencia en toda la información.",
    link: "https://github.com/rafaa1710/proyecto-uno",
    gitHub: "https://github.com/rafaa1710/proyecto-uno",
    images: [`${base}sge1.jpg`,
              `${base}sge2.jpg`,
              `${base}sge3.jpg`,
              `${base}sge4.jpg`,
              `${base}sge5.jpg`,
            ],
    tags: [TAGS.PHP, TAGS.ANGULAR, TAGS.MYSQL, TAGS.TYPESCRIPT],
  },
  
  
];
---

{
  PROJECTS.map(({ id, images, video, title, description, tags }) => (
    <article
    id={id} 
    class="mb-16 pb-16 border-b border-white/10">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      
      <ul class="flex flex-wrap gap-2">
        {tags.map((tag) => {
          const Icon = tag.icon;
          return (
            <li>
              <span class={`flex items-center gap-x-2 rounded-full px-3 py-1 text-xs mb-2 ${tag.color}`}>
                {tag.icon && <tag.icon class="size-4" />}
                {tag.name}
              </span>
            </li>
          );
        })}
      </ul>


      <div class="relative w-full max-w-3xl mx-auto">

  <div class="carousel-container relative w-full object-contain mt-6 rounded-2xl shadow-2xl shadow-white/10">
  {
  video && (
    <video
      class="w-full rounded-2xl shadow-2xl shadow-white/10"
      controls
      autoplay
      muted
      loop
    >
      <source src={video} type="video/mp4" />
    </video>
  ) }
  { 
    images.map((img, index) => (
      <div
      class={`carousel-image w-full h-[300px] flex items-center justify-center bg-black/10 rounded-2xl overflow-hidden shadow-2xl shadow-white/10 ${
        index === 0 ? "" : "hidden"
      }`}
    >
      <img
        class="max-w-full max-h-full object-contain"
        src={img}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
    </div>
    ))
  
}


  <button
    type="button"
    class="carousel-prev absolute left-4 top-1/2 -translate-y-1/2 z-10 bg-black/60 hover:bg-black/80 text-white px-4 py-2 rounded-full"
  >
    ←
  </button>

  <button
    type="button"
    class="carousel-next absolute right-4 top-1/2 -translate-y-1/2 z-10 bg-black/60 hover:bg-black/80 text-white px-4 py-2 rounded-full"
  >
    →
  </button>
</div>
</div>


    </article>

    
  ))
}
<script is:inline>
  document.querySelectorAll(".carousel-container").forEach((container) => {
    const images = container.querySelectorAll(".carousel-image");
    const nextBtn = container.querySelector(".carousel-next");
    const prevBtn = container.querySelector(".carousel-prev");

    let current = 0;

    function showImage(index) {
      images.forEach((image, i) => {
        if (i === index) {
          image.classList.remove("hidden");
        } else {
          image.classList.add("hidden");
        }
      });
    }

    nextBtn.addEventListener("click", () => {
      current = (current + 1) % images.length;
      showImage(current);
    });

    prevBtn.addEventListener("click", () => {
      current = (current - 1 + images.length) % images.length;
      showImage(current);
    });
  });
</script>
