---
import GitHub from "../icons/GitHub.astro";
import Tailwind from "../icons/Tailwind.astro";
import Next from "../icons/Nextjs.astro";
import Angular from "../icons/Angular.astro";
import Php from "../icons/Php.astro";
import Typescript from "../icons/Typescript.astro";
import Mysql from "../icons/Mysql.astro";
import Mariadb from "../icons/Mariadb.astro";
import Spring from "../icons/Spring.astro";


const TAGS = {
  TAILWIND: {
    name: "TailwindCSS",
    color: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NEXT: {
    name: "Next.js",
    color: "bg-[#2E2E2E] text-white",
    icon: Next,
  },
  ANGULAR: {
    name: "Angular",
    color: "bg-[#0F172A] text-white",
    icon: Angular,
  },
  PHP: {
    name: "PHP",
    color: "bg-[#4F5B93] text-white",
    icon: Php,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    color: "bg-[#1F3A8A] text-white",
    icon: Typescript,
  },
  MYSQL: {
    name: "MySQL",
    color: "bg-[#4479A1] text-white",
    icon: Mysql,
  },
  MARIADB: {
    name: "MariaDB",
    color: "bg-[#E6D5B8] text-white",
    icon: Mariadb,
  },
  SPRING: {
    name: "Spring",
    color: "bg-[#14532D] text-white",
    icon: Spring,
  }
  
};

const PROJECTS = [
  {
    title: "Desarrollo ERP Y CRM",
    description: "Proyecto basado en un sistema ERP–CRM modular en el que he desarrollado e integrado diferentes funcionalidades a lo largo del tiempo. La plataforma está formada por numerosos módulos interconectados que gestionan entidades como alumnos, módulos formativos, usuarios y procesos administrativos. Estos módulos comparten información entre sí, garantizando consistencia de datos y una gestión unificada dentro del sistema. El desarrollo se ha realizado con Angular para la capa de presentación, PHP para la lógica de negocio y MySQL como base de datos relacional, con un modelo de datos complejo y altamente relacionado que asegura integridad referencial y coherencia en toda la información.",
    link: "https://github.com/rafaa1710/proyecto-uno",
    gitHub: "https://github.com/rafaa1710/proyecto-uno",
    image: "https://rafaa1710.github.io/PorfolioRafaProgramador/capturaPort5.png", // si está en /public
    tags: [TAGS.PHP, TAGS.ANGULAR, TAGS.MYSQL, TAGS.TYPESCRIPT],
  },
  {
    title: "Aplicación Gestión de Películas",
    description: "Esta Aplicación fue creada para que un usuario una vez registrado gestione sus propias películas en su cuenta, así como informarse de las última novedades del cine y agregarlas a su lista de favoritos, obteniendo la información directamente desde una API externa en lugar de una base de datos propia. Para el usuario administrador, desde el menú, en gestión de usuarios puede gestionar los usuarios registrados, visualizar, editar y eliminar, un usuario no administrador no le aparece esta opción. En esta aplicación implemento gestión de tokens de autenticación y muestro el usuario activo en la UI junto al botón de cierre de sesión. Asimismo, aplico un delay intencional en el flujo de login para dificultar ataques de fuerza bruta y reforzar la seguridad del sistema.",
    link: "https://github.com/rafaa1710/proyecto-uno",
    gitHub: "https://github.com/rafaa1710/proyecto-uno",
    image: "https://rafaa1710.github.io/PorfolioRafaProgramador/capturaPort2.png", // si está en /public
    tags: [TAGS.ANGULAR,  TAGS.PHP, TAGS.TYPESCRIPT, TAGS.MYSQL],
  },
  {
    title: "Aplicación contratación de trasteros",
    description: "Actualmente desarrollo una aplicación web para la gestión y contratación de trasteros. Los usuarios pueden explorar la disponibilidad, iniciar el proceso de contratación, registrarse, realizar el pago mediante una pasarela segura y formalizar la firma del contrato. Tras la validación, el sistema genera automáticamente un código único de acceso y lo envía por correo electrónico al usuario, actuando como llave digital del trastero durante el periodo contratado. La arquitectura combina un frontend en Angular, un backend con Spring Boot y una base de datos MariaDB, integrada con un microcontrolador ESP32 que valida el estado del pago y envía la señal para accionar la cerradura electrónica y permitir el acceso físico al trastero. Se puede ver una imagen de boceto principal de inicio de sesión",
    link: "https://github.com/rafaa1710/proyecto-uno",
    gitHub: "https://github.com/rafaa1710/proyecto-uno",
    image: "https://rafaa1710.github.io/PorfolioRafaProgramador/login.jpeg", // si está en /public
    tags: [TAGS.ANGULAR,   TAGS.TYPESCRIPT, TAGS.MARIADB, TAGS.SPRING, ],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article class="mb-16 pb-16 border-b border-white/10">
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      
      <ul class="flex flex-wrap gap-2">
        {tags.map((tag) => {
          const Icon = tag.icon;
          return (
            <li>
              <span class={`flex items-center gap-x-2 rounded-full px-3 py-1 text-xs mb-2 ${tag.color}`}>
                {tag.icon && <tag.icon class="size-4" />}
                {tag.name}
              </span>
            </li>
          );
        })}
      </ul>

      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
    </article>

    
  ))
}

